In [5]:
import pandas

In [6]:
import pandas as pd 
print(pd.__version__)

Name_of_student =  {
    'name': ['ada', 'james', 'matthew', 'chris'],
    'class': ['SS3', 'JS3', 'SS3', 'JS2']
}

1.5.3

In [7]:
Name_of_student = pandas.DataFrame(Name_of_student)

In [8]:
Name_of_student

      name class
0      ada   SS3
1    james   JS3
2  matthew   SS3
3    chris   JS2

In [21]:
data_path = "C:/Users/MY COMPUTER/Desktop/panda/boat_data.csv"
df = pd.read_csv(data_path)
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58

In [22]:
df["Number of views last 7 days"].max()

3263

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9888 entries, 0 to 9887
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        9888 non-null   object
 1   Boat Type                    9888 non-null   object
 2   Manufacturer                 8550 non-null   object
 3   Type                         9882 non-null   object
 4   Year Built                   9888 non-null   int64
 5   Length                       9879 non-null   float64
 6   Width                        9832 non-null   float64
 7   Material                     8139 non-null   object
 8   Location                     9852 non-null   object
 9   Number of views last 7 days  9888 non-null   int64
dtypes: float64(2), int64(2), object(6)
memory usage: 772.6+ KB

In [26]:
df.columns

Index(['Price', 'Boat Type', 'Manufacturer', 'Type', 'Year Built', 'Length',
       'Width', 'Material', 'Location', 'Number of views last 7 days'],
      dtype='object')

In [28]:
df["Boat Type"].unique()

array(['Motor Yacht', 'Center console boat', 'Sport Boat', 'Fishing Boat',
       'Catamaran', 'Pontoon Boat', 'Runabout', 'Deck Boat', 'Pilothouse',
       'Cabin Boat', 'Working Boat', 'Classic', 'Bowrider',
       'Sport Boat,Working Boat', 'Cabin Boat,Classic',
       'Deck Boat,Pilothouse,Sport Boat', 'Trawler', 'Launch',
       'Cabin Boat,Trawler', 'Bowrider,Classic', 'Motor Yacht,Sport Boat',
       'Classic,Runabout,Sport Boat', 'Cabin Boat,Motor Yacht',
       'Classic,Launch', 'Cabin Boat,Sport Boat', 'Flybridge',
       'Water ski', 'Hardtop', 'Classic,Runabout', 'Offshore Boat',
       'Cabin Boat,Sport Boat,Wakeboard/Wakesurf', 'Classic,Pontoon Boat',
       'Classic,Motor Yacht', 'Motor Yacht,Sport Boat,Trawler',
       'Wakeboard/Wakesurf', 'Passenger boat',
       'Classic,Sport Boat,Water ski', 'Classic,Sport Boat', 'House Boat',
       'Classic,Motorsailer', 'Sport Boat,Wakeboard/Wakesurf',
       'Pilothouse,Sport Boat', 'House Boat,Motor Yacht',
       'Cabin Boat,Classic,Trawler', 'Passenger boat,Working Boat',
       'Wakeboard/Wakesurf,Water ski',
       'Classic,Motor Yacht,Passenger boat', 'Offshore Boat,Pilothouse',
       'Runabout,Sport Boat,Water ski',
       'Bowrider,Sport Boat,Wakeboard/Wakesurf', 'Sport Boat,Water ski',
       'Cabin Boat,Classic,Motor Yacht', 'Classic,Flybridge',
       'Flybridge,Pilothouse', 'Flybridge,Motor Yacht',
       'Classic,Working Boat', 'Classic,Pontoon Boat,Trawler',
       'Sport Boat,Wakeboard/Wakesurf,Water ski', 'Classic,Trawler',
       'Ketch', 'Runabout,Sport Boat', 'Cabin Boat,Hardtop,Trawler',
       'Cabin Boat,Motor Yacht,Sport Boat',
       'Classic,House Boat,Motor Yacht', 'Hardtop,Motor Yacht',
       'Mega Yacht', 'Hardtop,Mega Yacht,Motor Yacht',
       'Flybridge,Hardtop,Motor Yacht', 'Motorsailer',
       'Classic,Mega Yacht', 'Cabin Boat,Motor Yacht,Offshore Boat',
       'Center console boat,Classic', 'Cabin Boat,Motor Yacht,Trawler',
       'Bowrider,Motor Yacht,Wakeboard/Wakesurf', 'Motor Yacht,Trawler',
       'Hardtop,Motor Yacht,Sport Boat',
       'Classic,House Boat,Passenger boat',
       'House Boat,Motor Yacht,Trawler', 'Cabin Boat,Hardtop,Motor Yacht',
       'Cabin Boat,Flybridge', 'Fishing Boat,Launch,Motor Yacht',
       'Cabin Boat,House Boat', 'Cabin Boat,Hardtop',
       'Bowrider,Motor Yacht,Sport Boat', 'Classic,Deck Boat',
       'Cabin Boat,Flybridge,Motor Yacht',
       'Classic,Motor Yacht,Sport Boat', 'Bowrider,Cabin Boat,Deck Boat',
       'Motor Yacht,Wakeboard/Wakesurf', 'Classic,Motor Yacht,Water ski',
       'Passenger boat,Runabout,Sport Boat', 'Offshore Boat,Sport Boat',
       'Center console boat,Sport Boat',
       'Cabin Boat,Fishing Boat,Pilothouse', 'Cabin Boat,Pilothouse',
       'Center console boat,Fishing Boat,Sport Boat',
       'Fishing Boat,Flybridge,Trawler',
       'Motor Yacht,Sport Boat,Water ski',
       'Cabin Boat,Hardtop,Sport Boat', 'Fishing Boat,Sport Boat',
       'Classic,Hardtop,Motor Yacht',
       'Center console boat,Deck Boat,Working Boat',
       'Center console boat,Sport Boat,Water ski',
       'Fishing Boat,Pilothouse', 'Bowrider,Wakeboard/Wakesurf',
       'House Boat,Sport Boat,Trawler', 'Cabin Boat,House Boat,Trawler',
       'Cabin Boat,Fishing Boat',
       'Bowrider,Center console boat,Sport Boat',
       'Cabin Boat,Pilothouse,Sport Boat',
       'Cabin Boat,Classic,Passenger boat', 'Classic,Sport Boat,Trawler',
       'Fishing Boat,Passenger boat,Sport Boat',
       'Classic,Fishing Boat,Working Boat',
       'Center console boat,Deck Boat,Sport Boat',
       'Cabin Boat,Classic,Flybridge', 'Fishing Boat,Hardtop,Pilothouse',
       'Cabin Boat,Fishing Boat,House Boat',
       'Cabin Boat,Sport Boat,Water ski', 'Bowrider,Deck Boat,Water ski',
       'RIB', 'Deck Boat,Water ski', 'Classic,Fishing Boat',
       'Hardtop,Sport Boat', 'Cabin Boat,Fishing Boat,Sport Boat',
       'Classic,Runabout,Trawler'], dtype=object)

In [30]:
df["Boat Type"].value_counts()

Motor Yacht                        2720
Sport Boat                         1407
Flybridge                          1194
Trawler                             679
Pilothouse                          613
                                   ...
Bowrider,Motor Yacht,Sport Boat       1
Sport Boat,Working Boat               1
Classic,Motor Yacht,Sport Boat        1
Motor Yacht,Wakeboard/Wakesurf        1
Classic,Runabout,Trawler              1
Name: Boat Type, Length: 126, dtype: int64

In [31]:
df["Number of views last 7 days"].max()

3263

In [32]:
df["Number of views last 7 days"].value_counts()

68      91
74      87
62      84
67      84
81      84
        ..
582      1
332      1
868      1
435      1
1116     1
Name: Number of views last 7 days, Length: 674, dtype: int64

In [36]:
df[df["Boat Type"]=="Number of views last 7 days"]
df.head(5)

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58